[Unit]
Description=Minecraft Server Service

[Services]
Type=simple
User=minecraft
ExecStart=/usr/bin/minecraft-server
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target

