[Unit]
Description=Minecraft Service

[Services]
Type=simple
User=minecraft
ExecStart=/usr/bin/minecraft
ExecStop=/usr/bin/minecraft-stop

[Install]
WantedBy=multi-user.target

